**/__pycache__/
**/*.pyc
frontend/node_modules/
frontend/node_modules/
backend/**/__pycache__/
**/*.pyc
backend/backend/
uploads/
frontend/.env
*.log
frontend/dist/
backend/app/**/__pycache__/
**/*.pyc
backend/D:/
backend/mdf/
frontend/node_modules/
frontend/dist/
*.log
